<footer class="mt-16 border-t border-gray-300 backdrop-blur">
  <div class="max-w-4xl mx-auto px-4 py-6 flex flex-col md:flex-row items-center justify-between text-md text-gray-500">
    
    <!-- Left -->
    <div class="flex gap-4 mt-2 md:mt-0">
            <a href="https://github.com/nessnab" target="_blank" class="hover:text-secondary transition">
        GitHub
      </a>
      <a href="https://linkedin.com/in/nessnab" target="_blank" class="hover:text-secondary transition">
        LinkedIn
      </a>
      <a href="https://instagram.com/nessnab" target="_blank" class=" hover:text-secondary transition">
        Instagram
      </a>
    </div>
    
    <!-- Right -->
    <p>
      © 2026 HabitIn.
      Built with consistency by Ness
    </p>

  </div>
</footer>
