<nav class="mb-4 border-b border-gray-300">
        <ul class="flex items-center p-5 justify-between">
            <li class="text-2xl font-bold bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">
                <a href="/" class="hover:underline-offset-1 hover:text-orange">HabitIn</a>
            </li>

            <div class="flex">
                <% if (user) { %> 
                <p>Hi, <%= user.email.split('@')[0] %></p>
                <li>
                    <a href="/auth/logout" class="p-5 hover:underline-offset-1 hover:text-primary">Log Out</a>
                </li>
                <% } else { %>
                <li>
                    <a href="/auth/login" class="p-5 hover:underline-offset-1 hover:text-primary">Log In</a>
                </li>
                <li>
                    <a href="/add-habit"
                       class="bg-gradient-to-r from-primary to-secondary text-white px-4 py-2 rounded-xl shadow hover:opacity-90">
                        Get Started
                    </a>
                </li>
                <% } %>
            </div>
        </ul>
</nav>