<nav class="mb-4 border-b border-gray-300">
        <ul class="flex items-center p-5 justify-between">
            <li class="text-2xl font-bold bg-gradient-to-r from-primary to-primary-dark bg-clip-text text-transparent">HabitIn</li>

            <div class="flex">
                <li>
                    <a href="/" class="p-5 hover:underline-offset-1 hover:text-primary-dark">Home</a>
                </li>
                <li>
                    <a href="/add"
                       class="bg-primary text-white px-4 py-2 rounded hover:bg-primary-dark">
                        Get Started
                    </a>
                </li>
            </div>
        </ul>
    </nav>