<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HabitIn - Your Personal Habit Tracker</title>
    <link href="../dist/output.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="/styles.css"> -->
</head>
<body class="p-5 bg-bg ">

    <!-- DIALOG -->
    <dialog id="closeFormDialog">
        <form method="dialog">
            <p>Discard unsaved changes?</p>
            <menu>
                <button id="cancelBtn">Cancel</button>
                <button id="discardBtn">Discard</button>
            </menu>
        </form>
    </dialog>

    <dialog id="deleteConfirmDialog">
        <form method="dialog">
            <p>Are you sure want to delete this Habit?</p>
            <menu>
                <button id="cancelBtn">Cancel</button>
                <button id="deleteBtnDialog">Delete</button>
            </menu>
        </form>

    </dialog>

    <main class="grid min-h-screen pb-20 text-center items-center">

        <span class="text-center text-primary text-3xl font-bold">Your Habit List</span>

        <button type="button" id="showFormBtn" class="hidden bg-primary text-white rounded px-4 py-2 hover:bg-primary-dark max-w-sm my-3 mx-auto">
            + Add New Habit
        </button>

        <section class="add-habit">

            <form action="" id="habitForm" class="max-w-md mx-auto bg-white shadow-md rounded-lg p-7 space-y-4 text-left">

                    <label for="habitTitle">Habit Title</label>
                    <input type="text" id="habitTitle" name="habitTitle" placeholder="Enter your habit" autocomplete="off" required class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                      focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">

                    <label for="habitGoal">Habit Goal</label>
                    <input type="text" id="habitGoal" name="habitGoal" placeholder="Enter your goal" autocomplete="off" required class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                      focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">

                    <label for="habitSchedule">Habit Schedule</label>
                    <select name="habitSchedule" id="habitSchedule" required  class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                       focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                        <option value="" disabled selected>Select schedule</option>
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Custom">Custom</option>
                    </select>

                <fieldset name="weeklySchedule"  class="hidden mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                   focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 ">

                    <legend>Select Day</legend>
                    <label for="sunday"><input type="radio" value="Sunday" name="selectedDay"> Sun</label>
                    <label for="monday"><input type="radio" value="Monday" name="selectedDay"> Mon</label>
                    <label for="tuesday"><input type="radio" value="Tuesday" name="selectedDay"> Tues</label>
                    <label for="wednesday"><input type="radio" value="Wednesday" name="selectedDay"> Wed</label>
                    <label for="thursday"><input type="radio" value="Thursday" name="selectedDay"> Thur</label>
                    <label for="friday"><input type="radio" value="Friday" name="selectedDay"> Fri</label>
                    <label for="saturday"><input type="radio" value="Saturday" name="selectedDay"> Sat</label>

                </fieldset>

                <fieldset name="custom-day"  class="hidden mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                   focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    <legend>Select Days</legend>

                    <input type="checkbox" name="customDays" value="Sunday" id="sunday">
                    <label for="sunday">Sun</label>

                    <input type="checkbox" name="customDays" value="Monday" id="monday">
                    <label for="monday">Mon</label>

                    <input type="checkbox" name="customDays" value="Tuesday" id="tuesday">
                    <label for="tuesday">Tues</label>

                    <input type="checkbox" name="customDays" value="Wednesday" id="wednesday">
                    <label for="wednesday">Wed</label>

                    <input type="checkbox" name="customDays" value="Thursday" id="thursday">
                    <label for="thursday">Thur</label>

                    <input type="checkbox" name="customDays" value="Friday" id="friday">
                    <label for="friday">Fri</label>

                    <input type="checkbox" name="customDays" value="Saturday" id="saturday">
                    <label for="saturday">Sat</label>

                </fieldset>

                <label for="time">Time</label>
                <input type="time" id="time" name="time" class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">

                <button type="submit" id="addHabitBtn" class="bg-primary text-white px-4 py-2 rounded mr-4 hover:bg-primary-dark">Add Habit</button>
            </form>

        </section>

        <section class="habit-display text-center">
            <div id="habitsContainer">
                <!-- Habits will be displayed here -->
            </div>
        </section>
    </main>

    <footer>
        <p class="text-center">© 2025 Habit Tracker. Created by Ness.</p>
    </footer>
    
    <script src="script.js"></script>
</body>
</html>