<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="min-h-screen bg-gradient-to-br from-blue-50 via-indigo-50 to-orange-100">

    <%- include('../partials/nav') %>

    <div class="flex py-15">
        <div class="m-auto text-center max-w-lg mt-3">
            <h1 class="text-6xl font-bold my-4 text-gray-900">
                Build Your Habit with <span class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">HabitIn</span>

            </h1>
            <p class="px-4 text-xl">
                HabitIn is your personal habit tracker designed to help you build and maintain positive habits effortlessly. 
            </p>
            <div class="my-9">
                <a href="/add-habit" class="bg-gradient-to-r from-primary to-secondary text-white px-4 py-2 rounded-xl shadow hover:opacity-90">Get Started</a>
                <a href="" class="border border-primary text-primary text-bold px-4 py-2 rounded-xl mr-4 hover:bg-primary/70 hover:text-white ">See Demo</a>
                </button>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>

</body>
</html>