<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class=" bg-bg">

    <%- include('../partials/nav') %>

    <div class="flex py-15">
        <div class="m-auto text-center max-w-lg mt-3">
            <h1 class="text-6xl font-bold my-4">
                Build Your Habit with <span class="bg-gradient-to-r from-primary to-primary-dark bg-clip-text text-transparent">HabitIn</span>

            </h1>
            <p class="px-4 text-xl">
                HabitIn is your personal habit tracker designed to help you build and maintain positive habits effortlessly. 
            </p>
            <div class="my-9">
                <a href="/add" class="bg-primary text-white px-4 py-2 rounded mr-4 hover:bg-primary-dark">Get Started</a>
                <a href="" class="border border-primary text-primary px-4 py-2 rounded mr-4 hover:bg-primary hover:text-white ">See Demo</a>
                </button>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>

</body>
</html>