<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HabitIn - Your Personal Habit Tracker</title>
    <link href="/css/style.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="/styles.css"> -->
</head>
<body class="p-5 bg-bg">

    <nav class="mb-4 border-b border-gray-300">
        <ul class="flex items-center p-3 justify-between">
            <li class="text-2xl font-bold bg-gradient-to-r from-primary to-primary-dark bg-clip-text text-transparent">HabitIn</li>

            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/add-habit"
                   class="bg-primary text-white px-4 py-2 rounded hover:bg-primary-dark">
                    Get Started
                </a>
            </li>
        </ul>
    </nav>

    <div class="flex py-15">
        <div class="m-auto text-center max-w-lg mt-3">
            <h1 class="text-6xl font-bold my-4">
                Build Your Habit with <span class="bg-gradient-to-r from-primary to-primary-dark bg-clip-text text-transparent">HabitIn</span>

            </h1>
            <p class="px-4 text-xl">
                HabitIn is your personal habit tracker designed to help you build and maintain positive habits effortlessly. 
            </p>
            <div class="my-9">
                <a href="/add-habit" class="bg-primary text-white px-4 py-2 rounded mr-4 hover:bg-primary-dark">Get Started</a>
                <a href="" class="border border-primary text-primary px-4 py-2 rounded mr-4 hover:bg-primary hover:text-white ">See Demo</a>
                </button>
            </div>
        </div>
    </div>
</body>
</html>