@import "tailwindcss";

/* ./src/index.css */
@import "tailwindcss";


@theme {
  --color-bg: linear-gradient(to bottom right, #EFF6FF, #EEF2FF, #FFEDD5);
  --color-primary: #FB923C;
  --color-secondary: #F472B6;
  --color-primary-light: #93c5fd;
}